<div class="app-wrapper">
      <!-- row -->
    <div class="container-fluid">
        <div class="row app-wrapper-row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-start">
                    <h4 class="app-page-title text-dark text-uppercase">COUPONS</h4>
                    <a href="#showModal" class="btn btn-primary d-flex align-items-center"
                       data-bs-toggle="modal">
                    <i class="fa-solid fa-circle-plus fs-5 pe-1"></i>Add Coupon</a>
                </div>
                <div class="card pb-4">
                    <div class="card-body">
                        <p class="alert py-1 " id="statusText"></p>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Dsc(%)</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Coupon Title</th>
                                        <th scope="col" data-bs-toggle="tooltip" title="Maximum discount Amnt">Max Amnt</th>
                                        <th scope="col" data-bs-toggle="tooltip" title="Minimum Purchase Amnt">Min Purchase</th>
                                        <th scope="col">StartDate</th>
                                        <th scope="col">EndDate</th>
                                        <!--<th scope="col">UserGroups</th>-->
                                        <th scope="col">Limit</th>
                                        <th scope="col" data-bs-toggle="tooltip" title="Times Used">Used</th>
                                        <th scope="col">AllUsers</th>
                                        <th scope="col">isDeleted</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coupons}}
                                        <tr>
                                            <td class="text-center">{{inc @index}}</td>
                                            <td class="discount text-center">{{this.discount}}%</td>
                                            <td class="code text-center">{{this.code}}</td>
                                            <td class="couponTitle text-center">{{this.couponTitle}}</td>
                                            <td class="maxDscAmnt text-center">₹{{this.maxDiscountAmount}}</td>
                                            <td class="minPurchase text-center">₹{{this.minPurchaseAmount}}</td>
                                            <td class="startDate text-center">{{removeGMT this.startDate}}</td>
                                            <td class="endDate text-center">{{removeGMT this.endDate}}</td>
                                            <!--<td class="userGroups text-center">{{this.targetUserGroups}}</td>-->
                                            <td class="usageLimit text-center">{{this.usageLimit}}</td>
                                            <td class="timesUsed text-center">{{this.timesUsed}}</td>
                                            <td class="forAllUsers text-center">{{#if this.isForAllUsers}}Yes{{else}}No{{/if}}</td>
                                            <td class="text-center">{{#if this.isDeleted}}Yes{{else}}No{{/if}}</td>
                                            <td class="status text-center"><span class="badge bg-success-subtle text-success">
                                                {{this.status}}</span></td>
                                            <td>
                                                <ul class="list-unstyled mb-0 d-flex justify-content-around">
                                                    <li><a class="badge bg-primary-subtle text-primary edit-coupon-btn"
                                                           data-couponId="{{this._id}}">
                                                           <i class="fa-solid fa-pen-to-square text-primary"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        {{#if this.isDeleted}}
                                                            <a  href="/admin/restore-coupon/{{this._id}}"
                                                                class="badge bg-primary-subtle remove-item-btn">
                                                                <i class="fa-solid fa-rotate-left text-primary"></i>
                                                            </a>
                                                        {{else}}
                                                            <a href="/admin/delete-coupon/{{this._id}}" 
                                                                class="deletebtn badge bg-danger-subtle">
                                                                <i class="fa-solid fa-trash text-danger"></i>
                                                            </a>
                                                        {{/if}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!--  container -->
</div>







<!-- createModal -->
<div id="showModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title fs-18">Add Coupons</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5 py-4">
                <form action="/admin/add-coupon" method="POST" id="couponForm">
                    <div class="row">
                        <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>                              
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="couponTitle" class="form-label">Coupon Title</label>
                                <input type="text" name="couponTitle" class="form-control" id="couponTitle" 
                                placeholder="Coupon title" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="couponCode" class="form-label">Code</label>
                                <input type="text" name="code" class="form-control" id="couponCode" 
                                placeholder="Enter coupon code" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="couponDiscount" class="form-label">Discount(%)</label>
                                <input type="text" name="discount" class="form-control" id="couponDiscount" 
                                placeholder="Enter discount" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="maxDiscount" class="form-label">max.Discount Amount</label>
                                <input type="text" name="maxDiscountAmount" class="form-control" id="maxDiscount" 
                                placeholder="Enter max dicount amount" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="minAmount" class="form-label">min.Purchase Amount</label>
                                <input type="text" name="minPurchaseAmount" class="form-control" id="minAmount" 
                                 placeholder="Enter min purchase amount" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="usageLimit" class="form-label">Usage Limit</label>
                                <input type="text" name="usageLimit" class="form-control" id="usageLimit" placeholder="Enter UsageLimit">
                            </div>
                        </div>    
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="userGroups" class="form-label">User Groups</label>
                                <select class="form-control" name="targetUserGroups" id="userGroups" multiple>
                                    <option>Select Groups</option>
                                    <option value="VIP">VIP</option>
                                    <option value="GoldMembers">Gold Members</option>
                                    <option value="Prime Members">Regular Users</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="isForAllUsers" class="form-label">isForAllUsers?</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="isForAllUsers" 
                                      name="isForAllUsers" value="yes" checked>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startDate"
                                 name="startDate" placeholder="Select date" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="endDate" class="form-label">END Date</label>
                                <input type="date" class="form-control" id="endDate" 
                                name="endDate" placeholder="Select date" required>
                            </div>
                        </div>
                                                 
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="statusField" class="form-label">Status</label>
                                <select class="form-control" name="status" id="statusField">
                                    <option>Status</option>
                                    <option value="Active">Active</option>
                                    <option value="Expired">Expired</option>                                            
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    <i class="fa-regular fa-rectangle-xmark me-1"></i> Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Add Coupon</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- edit Modal -->
<div id="editCouponModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title fs-18">Edit Coupons</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-5 py-4">
                <form id="couponEditForm">
                    <div class="row">
                        <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                        <input type="hidden" id="id-field" value=""/>                                
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="couponTitle2" class="form-label">Coupon Title</label>
                                <input type="text" name="couponTitle" class="form-control" id="couponTitle2" 
                                placeholder="Coupon title" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="couponCode2" class="form-label">Code</label>
                                <input type="text" name="code" class="form-control" id="couponCode2" 
                                placeholder="Enter coupon code" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="couponDiscount2" class="form-label">Discount(%)</label>
                                <input type="text" name="discount" class="form-control" id="couponDiscount2" 
                                placeholder="Enter discount" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="maxDiscount2" class="form-label">max.Discount Amount</label>
                                <input type="text" name="maxDiscountAmount" class="form-control" id="maxDiscount2" 
                                placeholder="Enter max dicount amount" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="minAmount2" class="form-label">min.Purchase Amount</label>
                                <input type="text" name="minPurchaseAmount" class="form-control" id="minAmount2" 
                                 placeholder="Enter min purchase amount" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="usageLimit2" class="form-label">Usage Limit</label>
                                <input type="text" name="usageLimit" class="form-control" id="usageLimit2" 
                                   placeholder="Enter UsageLimit">
                            </div>
                        </div>    
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="userGroups2" class="form-label">User Groups</label>
                                <select class="form-control" name="targetUserGroups" id="userGroups2" multiple>
                                    <option>Select Groups</option>
                                    <option value="VIP">VIP</option>
                                    <option value="GoldMembers">Gold Members</option>
                                    <option value="Prime Members">Regular Users</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="isForAllUsers2" class="form-label">isForAllUsers?</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="isForAllUsers2" 
                                      name="isForAllUsers" value="yes" checked>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="startDate2" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startDate2"
                                 name="startDate" placeholder="Select date" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="endDate2" class="form-label">END Date</label>
                                <input type="date" class="form-control" id="endDate2" 
                                name="endDate" placeholder="Select date" required>
                            </div>
                        </div>
                                                 
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="statusField2" class="form-label">Status</label>
                                <select class="form-control" name="status" id="statusField2">
                                    <option>Status</option>
                                    <option value="Active">Active</option>
                                    <option value="Expired">Expired</option>                                            
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 modal-footer">
                            <div class="gap-2 justify-content-end">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-close">
                                    <i class="fa-regular fa-rectangle-xmark me-1"></i> Close</button>
                                <button type="button" class="btn btn-primary" id="edit-btn">Edit Coupon</button>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->