 
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
	          <h1 class="app-page-title text-dark pt-5">Overview</h1>				    
	          <div class="row g-4 mb-4">
	  	          <div class="col-6 col-lg-3">
	  	  	          <div class="app-card app-card-stat shadow-sm">
	  	  	  	          <div class="app-card-body p-3 p-lg-4">
	  	  	  	  	        <h4 class="stats-type mb-1">Total Sales</h4>
	  	  	  	  	        <div class="stats-figure">{{TotalSales}}</div>
	  	  	  	  	        <!--<div class="stats-meta text-success">20%</div>-->
	  	  	  	          </div><!--//app-card-body-->
	  	  	          </div><!--//app-card-->
	  	          </div><!--//col-->
	  	        
	  	          <div class="col-6 col-lg-3">
	  	  	          <div class="app-card app-card-stat shadow-sm">
	  	  	  	          <div class="app-card-body p-3 p-lg-4">
	  	  	  	  	        <h4 class="stats-type mb-1">All Users</h4>
	  	  	  	  	        <div class="stats-figure">{{AllUsers}}</div>
	  	  	  	  	        <!--<div class="stats-meta text-success">5%</div>-->
	  	  	  	          </div><!--//app-card-body-->
	  	  	          </div><!--//app-card-->
	  	          </div><!--//col-->
	  	          <div class="col-6 col-lg-3">
	  	  	          <div class="app-card app-card-stat shadow-sm">
	  	  	  	          <div class="app-card-body p-3 p-lg-4">
	  	  	  	  	        <h4 class="stats-type mb-1">Total Orders</h4>
	  	  	  	  	        <div class="stats-figure">{{OrderCount}}</div>
	  	  	  	  	        <!--<div class="stats-meta">Open</div>-->
	  	  	  	          </div><!--//app-card-body-->
	  	  	          </div><!--//app-card-->
	  	          </div><!--//col-->
	  	          <div class="col-6 col-lg-3">
	  	  	          <div class="app-card app-card-stat shadow-sm">
	  	  	  	          <div class="app-card-body p-3 p-lg-4">
	  	  	  	  	        <h4 class="stats-type mb-1">Invoices</h4>
	  	  	  	  	        <div class="stats-figure">6</div>
	  	  	  	  	        <!--<div class="stats-meta">New</div>-->
	  	  	  	          </div><!--//app-card-body-->
	  	  	          </div><!--//app-card-->
	  	          </div><!--//col-->
	          </div><!--//row-->

	          <div class="row g-4 mb-4 justify-content-center">
	              <div class="col-10">
	  	              <div class="app-card app-card-chart h-100 shadow-sm">
	  	  	              <div class="app-card-header p-3">
	  	  	  	              <div class="row justify-content-between align-items-center">
	  	  	  		                <div class="col-auto">
	  	  	  	                      <h4 class="app-card-title">Total Sales Chart</h4>
	  	  	  		                </div><!--//col-->
	  	  	  		                <div class="col-auto">
	  	  	  			                  <div class="card-header-action"></div>
	  	  	  		                </div><!--//col-->
	  	  	  	              </div><!--//row-->
	  	  	              </div><!--//app-card-header-->
	  	  	              <div class="app-card-body p-3 p-lg-4">
	  	  	  		            <div class="mb-3 d-flex">   
	  	  	  		                <select class="form-select form-select-sm ms-auto d-inline-flex 
																   w-auto" id="timeRangeSelect" name="salesOption">
	  	  	  				                <option value="1" selected>This week</option>
	  	  	  				                <option value="2">This Year</option>
																		<option value="3">All Year</option>
	  	  	  				            </select>
	  	  	  		            </div>
	  	  	  	              <div class="chart-container">
	  	                            <canvas id="salesChart" ></canvas>
	  	  	  	              </div>
	  	  	              </div><!--//app-card-body-->
	  	              </div><!--//app-card-->
	              </div><!--//col-->
	          </div><!--//row-->
	          <div class="row g-4 mb-4">
	  	          <div class="col-12 col-lg-6">
	  	              <div class="app-card h-100 shadow-sm">
	  	  	              <div class="app-card-header p-3">
	  	  	  	              <div class="row justify-content-between align-items-center">
	  	  	  	  	              <div class="col-auto">
	  	  	  	                      <h4 class="app-card-title">Sales Report</h4>
	  	  	  	  	              </div><!--//col-->
	  	  	  	              </div><!--//row--
	  	  	              </div><!--//app-card-header-->
	  	  	              <div class="app-card-body">
	  	  	  	  	          <div class="item py-5 px-3">
	  	  	  	  		            <form action="/admin/dashboard/generate-sales-report" class="row" method="POST" autocomplete="off">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="input_from">From</label>
                                            <input type="text" class="form-control" id="input_from" placeholder="Start Date"
																						name="startDate" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="input_to">To</label>
                                            <input type="text" class="form-control" id="input_to" placeholder="End Date"
																						name="endDate" required>
                                        </div>
                                    </div>
																		<div class="col-12 my-4 text-center">
                                        <button type="submit" class="btn btn-sm btn-success">Download Sales Report</button>
																		</div>
                                </form>
	  	  	  	  	          </div><!--//item-->
	  	  	  	  	          
	  	  	              </div><!--//app-card-body-->
	  	              </div><!--//app-card-->
	              </div><!--//col-->   
					</div>
		</div>
</div>  <!--//app-wrapper-->    					
    

<script src="https://cdn.jsdelivr.net/npm/pikaday@1.8.2/pikaday.min.js"></script>
<script defer>

	  /* sales report */
		
		let fromPicker = new Pikaday({
    field: document.getElementById('input_from'),
    maxDate: new Date(),  // Restrict to today and past dates
    });
    
    let toPicker = new Pikaday({
        field: document.getElementById('input_to'),
        maxDate: new Date(),  // Restrict to today and past dates
    });


		/* sales line chart */

    let weeklySales = {{{WeeklySales}}};
    let yearlySales = {{{YearlySales}}};
    let monthlySales = {{{MonthlySales}}};


    chartColors = {
        green: '#75c181',
        text: '#252930',
        border: '#e7e9ed',
				bg_green : "rgba(117,193,129,0.2)",
				dot: '#2a86bb',
    };

    const lineChartConfig = {
        type: 'line',
        data: {
            labels: Array.from({ length: 7 }, (_, i) => `Day ${i + 1}`), 
            datasets: [{
                label: 'TotalSales',
                borderColor: chartColors.green,
								backgroundColor: chartColors.bg_green, 
                data: weeklySales.map(item => item.totalSales),
                fill: true,
								lineTension: 0.4,
            }],
						
        },
				
        options: {
            responsive: true,
            /*aspectRatio: 1.5,*/
            legend: {
                display: true,
                position: 'bottom',
                align: 'end',
            },
            title: {
                display: true,
                text: 'Weekly Sales Chart',
            },
					  
            scales: {
                x: {
                    display: true,
                    grid: {
                        drawBorder: false,
                        color: chartColors.border,
                    },
                    scaleLabel: {
                        display: false,
                    }
                },
                y: {
                    display: true,
                    grid: {
                        drawBorder: false,
                        color: chartColors.border,
                    },
                    scaleLabel: {
                        display: false,
                    },
                    ticks: {
                        beginAtZero: true,
                        userCallback: function (value, index, values) {
                            return '$' + value.toLocaleString();
                        }
                    },
                }
            }
        }
    };

    // Generate charts on load
    window.addEventListener('load', function(){
        var lineChart = document.getElementById('salesChart').getContext('2d');
        window.myLine = new Chart(lineChart, lineChartConfig);
    });	

    // Function to update the chart based on selected time range
    function updateChart(selectedOption) {
        let labels, data;

        switch (selectedOption) {
            case '1': // This week
                labels = Array.from({ length: 7 }, (_, i) => `Day ${i + 1}`)
								data = weeklySales.map(item => item.totalSales);
                break;
            case '2': // This Year sales, all months
                labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                data = monthlySales.map(item => item.totalSales);
                break;
            case '3': // Whole Year
                labels = Array.from({ length: yearlySales.length }, (_, i) => `${i + 2019}`);
                data = yearlySales.map(item => item.totalSales);
                break;
            default:
                break;
        }


       if (window.myLine) {
            // Update chart data
            window.myLine.data.labels = labels;
            window.myLine.data.datasets[0].data = data;
            window.myLine.update();
        }
    }

    // Initial chart setup
    updateChart('1'); // Default to This week

    // Add event listener for select change
    const timeRangeSelect = document.getElementById('timeRangeSelect');
    timeRangeSelect.addEventListener('change', function () {
        updateChart(this.value);
    });




</script>

