 <div class="app-wrapper">
	    
	    <div class="app-content pt-4 p-md-3 p-lg-4">
		    <div class="container-xl pt-5">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Orders</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								      <form class="table-search-form row gx-1 align-items-center">
					                <div class="col-auto">
					                    <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                </div>
					                <div class="col-auto">
					                    <button type="submit" class="btn app-btn-secondary">Search</button>
					                </div>
					            </form>       
							    </div><!--//col-->
							    <div class="col-auto"> 
								    <select class="form-select w-auto" >
										  <option selected value="option-1">All</option>
										  <option value="option-2">This week</option>
										  <option value="option-3">This month</option>
										  <option value="option-4">Last 3 months</option>  
									</select>
							    </div>
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->
			   
			    
			    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
				    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-delivered-tab" 
						   data-bs-toggle="tab" href="#orders-delivered" role="tab" aria-controls="orders-delivered" 
							 aria-selected="true">Delivered</a>
				    <a class="flex-sm-fill text-sm-center nav-link"  id="orders-pending-tab" 
						   data-bs-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending"
							 aria-selected="false">Pending</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-shipped-tab" 
						   data-bs-toggle="tab" href="#orders-shipped" role="tab" 
							 aria-controls="orders-shipped" aria-selected="false">Shipped</a>
				    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" 
						   data-bs-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled"
							 aria-selected="false">Cancelled</a>
				</nav>
				
				
				<div class="tab-content" id="orders-table-tab-content">
			      <div class="tab-pane fade show active" id="orders-delivered" role="tabpanel" 
						    aria-labelledby="orders-delivered-tab">
					      <div class="app-card app-card-orders-table shadow-sm mb-5">
						        <div class="app-card-body">
							          <div class="table-responsive">
							              <table class="table app-table-hover mb-0 text-left">
							  	  	  	      <thead>
							  	  	  	      	<tr>
							  	  	  	      		<th class="cell">Order ID</th>
																		<th class="cell">User</th>
							  	  	  	      		<th class="cell">Billing Name</th>
							  	  	  	      		<th class="cell">Payment Method</th>
																		<th class="cell">Items</th>
							  	  	  	      		<th class="cell">Date</th>
							  	  	  	      		<th class="cell">Payment Status</th>
							  	  	  	      		<th class="cell">Status</th>
							  	  	  	      		<th class="cell">Total</th>
							  	  	  	      		<th class="cell">Action</th>
							  	  	  	      	</tr>
							  	  	  	      </thead>
							  	  	  	      <tbody>
																	{{#each orders}}
																	    {{#if (isEqualTo this.status 'Delivered')}}
																	      <tr>
							  	  	  	      	  	      <td class="cell">{{this.orderId}}</td>
																						<td class="cell">{{this.user.firstname}} {{this.user.lastname}}</td>
							  	  	  	      	  	      <td class="cell"><span class="truncate">
							  	  	  	      	  	      	  {{this.shippingAddress.firstname}} {{this.shippingAddress.lastname}}</span></td>
							  	  	  	      	  	      <td class="cell">{{this.paymentMethod}}</td>
																						<td class="cell text-center">{{this.orderItems.length}}</td>
							  	  	  	      	  	      <td class="cell"><span class="cell-data">{{removeGMT this.createdAt}}</td>
							  	  	  	      	  	      <td class="cell"><span class="badge
																						{{#if (isEqualTo this.paymentStatus 'Pending')}} bg-warning
																					  {{else if (isEqualTo this.paymentStatus 'Paid')}} bg-success
																					  {{else if (isEqualTo this.paymentStatus 'Cancelled')}} bg-danger
																					  {{else if (isEqualTo this.paymentStatus 'Failed')}} bg-info
																					  {{else if (isEqualTo this.paymentStatus 'Refund')}} bg-primary
																					  {{/if}}">{{this.paymentStatus}}</td>
							  	  	  	      	  	      <td class="cell"><span class="badge 
																				        {{#if (isEqualTo this.status 'Delivered')}} bg-success{{/if}}">
																				    		{{this.status}}</span>
																			      </td>
							  	  	  	      	  	      <td class="cell">₹{{this.GrandTotal}}</td>
							  	  	  	      	  	      <td class="cell text-center">
																							  <ul class="list-inline mb-0">
																							  	  <li><a href="/admin/order-details?order_id={{this.orderId}}" 
																							  	     class="action-icon"> <i class="fa-solid fa-eye"></i></a>
																										</li>
																							  </ul>
                                            </td>
																				</tr>
																		  {{/if}}
							  	  	  	      	{{/each}}	
							  	  	  	      </tbody>
							  	  	      </table>
						            </div><!--//table-responsive-->
						        </div><!--//app-card-body-->		
						    </div><!--//app-card-->

						    <nav class="app-pagination">
						    	  <ul class="pagination justify-content-center">
						    	  	  <li class="page-item disabled">
						    	  	  	  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
						    	      </li>
						    	  	  <li class="page-item active"><a class="page-link" href="#">1</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">2</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">3</a></li>
						    	  	  <li class="page-item">
						    	  	      <a class="page-link" href="#">Next</a>
						    	  	  </li>
						    	  </ul>
						    </nav><!--//app-pagination-->
			      </div><!--//tab-pane-->
			        
			      <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
					      <div class="app-card app-card-orders-table shadow-sm mb-5">
						        <div class="app-card-body">
							          <div class="table-responsive">
							              <table class="table app-table-hover mb-0 text-left">
							  	  	  	      <thead>
							  	  	  	      	<tr>
							  	  	  	      		<th class="cell">Order ID</th>
																		<th class="cell">User</th>
							  	  	  	      		<th class="cell">Billing Name</th>
							  	  	  	      		<th class="cell">Payment Method</th>
																		<th class="cell">Items</th>
							  	  	  	      		<th class="cell">Date</th>
							  	  	  	      		<th class="cell">Payment Status</th>
							  	  	  	      		<th class="cell">Status</th>
							  	  	  	      		<th class="cell">Total</th>
							  	  	  	      		<th class="cell" style="width:80px">Action</th>
							  	  	  	      	</tr>
							  	  	  	      </thead>
							  	  	  	      <tbody>
							  	  	  	        {{#each orders}}
																    {{#if (isEqualTo this.status 'Pending')}}
							  	  	  	      	    <tr>
							  	  	  	      	    	  <td class="cell">{{this.orderId}}</td>
																					<td class="cell">{{this.user.firstname}} {{this.user.lastname}}</td>
							  	  	  	      	    	  <td class="cell"><span class="truncate">
							  	  	  	      	    	  	  {{this.shippingAddress.firstname}} {{this.shippingAddress.lastname}}</span></td>
							  	  	  	      	    	  <td class="cell">{{this.paymentMethod}}</td>
																					<td class="cell text-center">{{this.orderItems.length}}</td>
							  	  	  	      	    	  <td class="cell"><span class="cell-data">{{removeGMT this.createdAt}}</td>
							  	  	  	      	    	  <td class="cell"><span class="badge 
																					{{#if (isEqualTo this.paymentStatus 'Pending')}} bg-warning
																					{{else if (isEqualTo this.paymentStatus 'Paid')}} bg-success
																					{{else if (isEqualTo this.paymentStatus 'Cancelled')}} bg-danger
																					{{else if (isEqualTo this.paymentStatus 'Failed')}} bg-info
																					{{else if (isEqualTo this.paymentStatus 'Refund')}} bg-primary
																					{{/if}}">{{this.paymentStatus}}</td>
							  	  	  	      	    	  <td class="cell"><span class="badge 
																	  			    {{#if (isEqualTo this.status 'Pending')}} bg-warning{{/if}}">
																	  					{{this.status}}</span>
																	  		  </td>
							  	  	  	      	    	  <td class="cell">₹{{this.GrandTotal}}</td>
							  	  	  	      	    	  <td class="cell text-center">
                                              <ul class="list-inline mb-0">
                                                  <li class="list-inline-item">
                                                      <a href="/admin/order-details?order_id={{this.orderId}}" class="action-icon"> <i class="fa-solid fa-eye"></i></a>
                                                  </li>
                                                  <li class="list-inline-item">
																	  									<div class="dropdown">
                                                          <button type="button" class="btn btn-sm btn-success" 
																	  											    data-bs-toggle="dropdown" class="action-icon">
                                                              <i class="fa-solid fa-gear"></i>
                                                          </button>
                                                          <ul class="dropdown-menu">
                                                              <li><a href="/admin/change-order-status?orderId={{this.orderId}}&action=delivered"
																	  												        class="dropdown-item">delivered</a>
																	  												  </li>
																	  												  <li><a href="/admin/change-order-status?orderId={{this.orderId}}&action=shipped"
																	  												       class="dropdown-item">shipped</a>
																	  												  </li>
																	  													<li><a href="/admin/change-order-status/?orderId={{this.orderId}}&action=cancel"
																	  													   class="dropdown-item">cancel order</a>
																	  													</li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </td>
							  	  	  	      	    </tr>
																	  {{/if}}
																	{{/each}}
							  	  	  	      </tbody>
							  	  	      </table>
						            </div><!--//table-responsive-->
						        </div><!--//app-card-body-->		
						    </div><!--//app-card-->

								<nav class="app-pagination">
						    	  <ul class="pagination justify-content-center">
						    	  	  <li class="page-item disabled">
						    	  	  	  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
						    	      </li>
						    	  	  <li class="page-item active"><a class="page-link" href="#">1</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">2</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">3</a></li>
						    	  	  <li class="page-item">
						    	  	      <a class="page-link" href="#">Next</a>
						    	  	  </li>
						    	  </ul>
						    </nav><!--//app-pagination-->
			      </div><!--//tab-pane-->
			        
			      <div class="tab-pane fade" id="orders-shipped" role="tabpanel" 
						    aria-labelledby="orders-shipped-tab">
					      <div class="app-card app-card-orders-table shadow-sm mb-5">
						        <div class="app-card-body">
							          <div class="table-responsive">
							              <table class="table app-table-hover mb-0 text-left">
							  	  	  	      <thead>
							  	  	  	      	  <tr>
							  	  	  	      		    <th class="cell">Order ID</th>
																				<th class="cell">User</th>
							  	  	  	      		    <th class="cell">Billing Name</th>
							  	  	  	      		    <th class="cell">Payment Method</th>
																				<th class="cell">Items</th>
							  	  	  	      		    <th class="cell">Date</th>
							  	  	  	      		    <th class="cell">Payment Status</th>
							  	  	  	      		    <th class="cell">Status</th>
							  	  	  	      		    <th class="cell">Total</th>
							  	  	  	      		    <th class="cell" style="width:80px">Action</th>
							  	  	  	      	  </tr>
							  	  	  	      </thead>
							  	  	  	      <tbody>
							  	  	  	      	  {{#each orders}}
																      {{#if (isEqualTo this.status 'Shipped')}}
							  	  	  	      	      <tr>
							  	  	  	      	      	  <td class="cell">{{this.orderId}}</td>
																						<td class="cell">{{this.user.firstname}} {{this.user.lastname}}</td>
							  	  	  	      	      	  <td class="cell"><span class="truncate">
							  	  	  	      	      	  	  {{this.shippingAddress.firstname}} {{this.shippingAddress.lastname}}</span></td>
							  	  	  	      	      	  <td class="cell">{{this.paymentMethod}}</td>
																						<td class="cell text-center">{{this.orderItems.length}}</td>
							  	  	  	      	      	  <td class="cell"><span class="cell-data">{{removeGMT this.createdAt}}</td>
							  	  	  	      	      	  <td class="cell"><span class="badge
																						{{#if (isEqualTo this.paymentStatus 'Pending')}} bg-warning
																					  {{else if (isEqualTo this.paymentStatus 'Paid')}} bg-success
																					  {{else if (isEqualTo this.paymentStatus 'Cancelled')}} bg-danger
																					  {{else if (isEqualTo this.paymentStatus 'Failed')}} bg-info
																					  {{else if (isEqualTo this.paymentStatus 'Refund')}} bg-primary
																					  {{/if}}">{{this.paymentStatus}}</td>
							  	  	  	      	      	  <td class="cell"><span class="badge 
																	    			    {{#if (isEqualTo this.status 'Shipped')}}bg-primary{{/if}}">
																	    					{{this.status}}</span>
																	    		  </td>
							  	  	  	      	      	  <td class="cell">₹{{this.GrandTotal}}</td>
							  	  	  	      	      	  <td class="cell text-center"> 
                                                <ul class="list-inline mb-0 text-center">
                                                    <li class="list-inline-item">
                                                        <a href="/admin/order-details?order_id={{this.orderId}}" 
																												  class="action-icon"> <i class="fa-solid fa-eye"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
																	    							  	<div class="dropdown">
                                                            <button type="button" class="btn btn-sm btn-success" 
																	    							  			    data-bs-toggle="dropdown" class="action-icon">
                                                                <i class="fa-solid fa-gear"></i>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="/admin/change-order-status?orderId={{this.orderId}}&action=delivered"
																	    							  				        class="dropdown-item">delivered</a>
																	    							  				  </li>
																	    							  					<li><a href="/admin/change-order-status/?orderId={{this.orderId}}&action=cancel"
																	    							  					   class="dropdown-item">cancel order</a>
																	    							  					</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
							  	  	  	      	      </tr>
																	    {{/if}}
																	  {{/each}}
							  	  	  	      </tbody>
							  	  	      </table>
						            </div><!--//table-responsive-->
						        </div><!--//app-card-body-->		
						    </div><!--//app-card-->

								<nav class="app-pagination">
						    	  <ul class="pagination justify-content-center">
						    	  	  <li class="page-item disabled">
						    	  	  	  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
						    	      </li>
						    	  	  <li class="page-item active"><a class="page-link" href="#">1</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">2</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">3</a></li>
						    	  	  <li class="page-item">
						    	  	      <a class="page-link" href="#">Next</a>
						    	  	  </li>
						    	  </ul>
						    </nav><!--//app-pagination-->
			      </div><!--//tab-pane-->

			      <div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
					      <div class="app-card app-card-orders-table shadow-sm mb-5">
						        <div class="app-card-body">
							          <div class="table-responsive">
							              <table class="table app-table-hover mb-0 text-left">
							  	  	        	<thead>
							  	  	        		  <tr>
							  	  	        		  	  <th class="cell">Order ID</th>
																				<th class="cell">User</th>
							  	  	  	      		    <th class="cell">Billing Name</th>
							  	  	  	      		    <th class="cell">Payment Method</th>
																				<th class="cell">Items</th>
							  	  	  	      		    <th class="cell">Date</th>
							  	  	  	      		    <th class="cell">Payment Status</th>
							  	  	  	      		    <th class="cell">Status</th>
							  	  	  	      		    <th class="cell">Total</th>
							  	  	  	      		    <th class="cell">Action</th>
							  	  	        		  </tr>
							  	  	        	</thead>
							  	  	        	<tbody>
							  	  	        		{{#each orders}}
																	   {{#if (isEqualTo this.status 'Cancelled')}}
																	      <tr>
							  	  	  	      	  	      <td class="cell">{{this.orderId}}</td>
																						<td class="cell">{{this.user.firstname}} {{this.user.lastname}}</td>
							  	  	  	      	  	      <td class="cell"><span class="truncate">
							  	  	  	      	  	      	  {{this.shippingAddress.firstname}} {{this.shippingAddress.lastname}}</span></td>
							  	  	  	      	  	      <td class="cell">{{this.paymentMethod}}</td>
																						<td class="cell text-center">{{this.orderItems.length}}</td>
							  	  	  	      	  	      <td class="cell"><span class="cell-data">{{removeGMT this.createdAt}}</td>
							  	  	  	      	  	      <td class="cell"><span class="badge
																						{{#if (isEqualTo this.paymentStatus 'Pending')}} bg-warning
																					  {{else if (isEqualTo this.paymentStatus 'Paid')}} bg-success
																					  {{else if (isEqualTo this.paymentStatus 'Cancelled')}} bg-danger
																					  {{else if (isEqualTo this.paymentStatus 'Failed')}} bg-info
																					  {{else if (isEqualTo this.paymentStatus 'Refund')}} bg-primary
																					  {{/if}}">{{this.paymentStatus}}</td>
							  	  	  	      	  	      <td class="cell"><span class="badge 
																				        {{#if (isEqualTo this.status 'Cancelled')}} bg-danger{{/if}}">
																				    		{{this.status}}</span>
																			      </td>
							  	  	  	      	  	      <td class="cell">₹{{this.GrandTotal}}</td>
							  	  	  	      	  	      <td class="cell text-center">
																							  <ul class="list-inline mb-0 pt-2 text-center">
																							  	<li><a href="/admin/order-details?order_id={{this.orderId}}" 
																							  	   class="action-icon"> <i class="fa-solid fa-eye"></i></a></li>
																							  </ul>
                                            </td>
																				</tr>
																		 {{/if}}
							  	  	  	      	{{/each}}	
							  	  	        	</tbody>
							  	  	      </table>
						            </div><!--//table-responsive-->
						        </div><!--//app-card-body-->		
						    </div><!--//app-card-->

								<nav class="app-pagination">
						    	  <ul class="pagination justify-content-center">
						    	  	  <li class="page-item disabled">
						    	  	  	  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
						    	      </li>
						    	  	  <li class="page-item active"><a class="page-link" href="#">1</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">2</a></li>
						    	  	  <li class="page-item"><a class="page-link" href="#">3</a></li>
						    	  	  <li class="page-item">
						    	  	      <a class="page-link" href="#">Next</a>
						    	  	  </li>
						    	  </ul>
						    </nav><!--//app-pagination-->
								
			      </div><!--//tab-pane-->
				</div><!--//tab-content-->			    
		</div><!--//container-fluid-->
</div><!--//app-content-->
	    
<!-- <li class="list-inline-item">
  <a href="#" class="action-icon"> <i class="fa-solid fa-pen-to-square"></i></a>
</li>-->