<div class="app-wrapper">
      <!-- row -->
    <div class="container-fluid">
        <div class="row app-wrapper-row">
            <div class="col-12">
                <h4 class="app-page-title text-dark text-uppercase">USERS</h4>
                <div class="card pb-4">
                    <div class="card-body">
                        {{#if user}}
                        <p class="text-danger">{{user}} has been successfully deleted!</p>
                        {{/if }}
                        {{#if flash}}
                           <div class="alert alert-success">
                               {{flash.success}}
                           </div>
                        {{/if}}
                         
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th style="min-width:6.7rem;max-width:6.7rem;">Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Addresses</th>
                                        <th>Blocked</th>
                                        <th>Created</th>
                                        <th>Updated</th>
                                        <th>isDeleted</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                 
                                <tbody>
                                 {{#each users}}
                                    {{#unless (roleEquals this.role)}}
                                
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td data-bs-toggle="tooltip" title="{{this.firstname}} {{this.lastname}}"
                                           style="min-width:6.7rem;max-width:6.7rem;">{{this.firstname}} {{this.lastname}} 
                                        </td>
                                        <td>{{this.gender}}</td>
                                        <td style="max-width: 10rem;" data-bs-toggle="tooltip" title="{{this.email}}">{{this.email}}</td>
                                        <td>{{this.phone}}</td>
                                        <td style="max-width: 8rem; width:30rem;" class="text-center">
                                              {{#if this.addresses.length}}
                                                  <span class="address-tooltip-trigger">
                                                      {{this.addresses.length}}
                                                      <i class="fa-solid fa-info-circle ps-2 tooltip-icon" style="color: #4e85e3;"
                                                         data-bs-toggle="tooltip"></i>
                                                  </span>
                                              {{/if}}
                                              <div class="d-none">
                                                  {{#each this.addresses}}  
                                                      <div class="address">{{this.address}} </div>
                                                  {{/each}}
                                              </div>                                   
                                        </td>
                                        <td>  
                                            <div class="switchToggle">
                                                <input type="checkbox" data-id="{{this._id}}" id="switch-{{@index}}"
                                                  class="flexSwitchCheck" {{#if this.isBlocked}}checked{{/if}}>
                                                <label for="switch-{{@index}}">Toggle</label>
                                            </div>
                                        </td>
                                        <td>{{removeGMT this.createdAt}}</td>
                                        <td>{{removeGMT this.updatedAt}}</td>
                                        <td>{{#if this.isDeleted}}Yes{{else}}No{{/if}}</td>
                                        <td class="text-center">
                                            {{#if this.isDeleted}}
                                                <a  href="/admin/restore-user/{{this._id}}" data-bs-toggle="tooltip" 
                                                    title="restore" class="badge bg-primary-subtle remove-item-btn">
                                                    <i class="fa-solid fa-rotate-left text-primary"></i>
                                                </a>
                                                {{else}}
                                                    <a href="/admin/delete-user/{{this._id}}" data-bs-toggle="tooltip" 
                                                        title="delete" class="deletebtn badge bg-danger-subtle">
                                                        <i class="fa-solid fa-trash text-danger"></i>
                                                    </a>
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/unless}}
                                  {{/each}} 
                                 
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!--  container -->
  </div>

 

 <!--


    <div class="content">
                                                   
                                                </div>     
 -->