    <div class="product-item mb-4">
        {{#if this.isInWishlist}}  
            <a href="/wishlist/delete-item/{{this.slug}}" class="product-wishlist"><i class="fa fa-heart"></i></a>
        {{/if}}
        
        <div class="product-img overflow-hidden">
            <div>
                  <a href="/product/{{this.slug}}" class="d-block" class="pro-title">
              <img class="img-fluid w-100" src="/uploads/{{this.images.img-1}}" alt="">
            </a>
            </div>
            
            <div class="product-links">
                 {{#unless this.isInWishlist}}
                    <a href="/wishlist/add-to-wishlist/{{this.slug}}" class="addToWishlist" data-title="{{this.title}}">
                        <i class="fa fa-heart"></i></a>
                {{/unless}}
                <a href="/cart/addtocart/{{this.slug}}" class="border-start addToCartBtn" data-title="{{this.title}}">
                    <i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>

        <a href="/product/{{this.slug}}" class="d-block pro-link">
            <div class="product-content py-1 text-center"> 
                <h6 class="product-brand"><a href="#">
                    {{this.brand.brand}}</a></h6>
                <p class="product-title">{{this.title}}</p>
                <div class="product-price">
                    <span class="price">₹{{this.price}}</span>
                    <small class="ps-1 pe-2 mrp text-decoration-line-through">₹{{this.mrp}}</small>
                    <span class="discount">₹{{this.discount}}% Off</span>
                </div>
                <div>
                  {{#each this.sizes}}
                      <small>{{@key}},</small>
                  {{/each}}
                </div>
            </div>
        </a>
    </div>