
<div id="page">
    <!-- Shop Start -->
    <div id="page-heading-brand" class="py-3 mb-4">
        <div class="container">
          <div class="row align-items-end text-center">
            <div class="col-lg-7 mx-auto">
              <h2>{{main.brand}}</h2>  
              <p class="fst-italic">{{main.description}}</p>
            </div>
          </div>
        </div>
    </div>
   
    <div class="container-fluid">
        <div class="row">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-2 py-3">          
              <form method="GET" action="/filters" id="filterForm"> 
                    <!-- FilterBox starts-->
                    
                    <div id="filterBox">
                        <input type="hidden" name="_main" value="{{main.brand}}"> 

                        <h4 class="text-center py-4">FILTER</h4>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="mb-3 mt-4">
                                <div class="d-flex justify-content-center">
                                    <section class="range-slider">   
                                        <div class="output-container">
                                            <span class="output outputOne"></span>
                                            <span class="output outputTwo"></span>
                                        </div>
                                        <span class="full-range"></span>
                                        <span class="incl-range"></span>
                                        <input name="minRange" value="{{minPrice}}" id="rangeOne" min="{{minPrice}}" max="{{maxPrice}}" step="1" type="range">
                                        <input name="maxRage" value="{{maxPrice}}" id="rangeTwo" min="{{minPrice}}" max="{{maxPrice}}" step="1" type="range">   
                                    </section>
                                </div>
                                <div class="d-flex justify-content-between px-4" id="minMax">
                                    <small class="">Min: ₹{{minPrice}}</small>
                                    <small class="">Max: ₹{{maxPrice}}</small>
                                </div>
                            </div>
                       
                        
                            {{#each filters as |outerValue outerKey|}}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse"
                                         href="#collapse-{{@index}}" aria-expanded="true" aria-controls="collapseOne">
                                            {{@key}} 
                                        </a>
                              
                                    </h3>
                                </div>
                                <div id="collapse-{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="bg-white p-4 mb-30">
                                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                                <input type="checkbox" class="custom-control-input selectAll" id="{{@key}}-all" 
                                                 {{#if (getProperty @root/selectedOptions @root/key)}}checked{{/if}}name="{{@key}}">
                                                <label class="custom-control-label" for="{{@key}}-all">Select All</label>
                                            </div>
                                            {{#each this}}
                                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                                <input type="checkbox" class="custom-control-input" id="{{outerKey}}-{{@index}}" 
                                                   name="{{outerKey}}[]" value="{{this.name}}" 
                                                   {{#if @root/selectedOptions}}
                                                        {{#if (contains (getProperty @root/selectedOptions outerKey)
                                                          this.name)}}checked
                                                        {{/if}}
                                                   {{/if}}>
                                                <label class="custom-control-label" for="{{outerKey}}-{{@index}}">{{this.name}}</label>
                                                <span class="badge border">{{this.count}}</span>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}} 
                        </div>
                    </div>
                    <input type="hidden" name="page" value="brand"> 
                </form>
                <!--End Filterbox here-->

            </div>    
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-10 mt-5">
                <div class="row pb-1">
                    <!-- Category Name Block-->
                 
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Latest</a>
                                        <a class="dropdown-item" href="#">Popularity</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    {{#each products}} 
                    
                    <div class=" col-xl-3 col-lg-4 col-sm-6 pb-1">
                        {{> productcard}}
                    </div>
                    {{/each}}
                  
                    <div class="col-12">
                        <nav class="block">
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
</div>
<!--Category Name Block Ends here-->