 <!-- Shop Detail Start -->
    <div class="container-fluid py-3">
        <div class="row">
            <!-- Multiple images -->
            <div class="col-lg-custom-2 col-2 mt-2 flex-column">
                <div class="carousel-container">
                    <div class="carousel" id="carouselVertical">
                        {{#each product.images}}
                            <div class="carousel-item carousel-cell">
                                <img src="/uploads/{{this}}" alt="Image {{inc @index}}">
                            </div>
                        {{/each}}
                    </div>
                    <div class="carousel-controls">
                        <button class="control-btn prev-btn">
                            <i class="fa-solid fa-chevron-up"></i>
                        </button><!--&uarr;-->
                        <button class="control-btn next-btn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button><!--&darr;-->
                    </div>
                </div>
            </div>
            <!--end multiple images-->
            <div class="col-lg-custom-4">
                <div id="imgCarousel" class="carousel slide" ><!--data-bs-ride="carousel"-->
                    <div class="carousel-inner">
                        {{#each product.images}}
                            <div class="carousel-item  {{#if (isEqualTo @index 0)}}active{{/if}}">
                                <img src="/uploads/{{this}}" class="d-block w-100 img-1" alt="Image {{inc @index}}">
                                <div class="img-2"></div>
                            </div>
                        {{/each}}
                    </div>
                </div> 
            </div>
            <div class="col-lg-custom-6 h-auto bg-light mt-2">
                <div class="h-100 p-3">
                    <h5 class='pro-brand'>{{product.brand.brand}}</h5>
                    <p class="pro-title">{{product.title}}</p>
                    
                    <!--<div class="d-flex mb-3">
                        <div class="text-primary me-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(99 Reviews)</small>
                    </div>-->
                    <h4 class="font-weight-semi-bold mb-4 price">₹{{product.price}}
                    <span class="ms-3 text-success fs-5">{{product.discount}}% Off</span></p></h4>
                    <p class="text-dark offerprice"><small>MRP
                      <span class="text-decoration-line-through">
                         <small class="fw-bold">₹{{product.mrp}}</small> 
                        </span>Inclusive of all taxes</small></p>
                    <hr class="bg-primary">
                    <div class="d-flex mb-3">
                        <strong class="text-dark me-3">Sizes:</strong>
                        <!--<form>
                            {{#each product.sizes}}
                            <div class="d-flex">
                                <input type="radio" class="" id="size-{{@index}}" name="size">
                                <label class="" for="size-{{@index}}">{{this.size}}</label>
                            </div>
                            {{/each}}
                        </form>-->
                        <div class="size-wrap">
							<p class="size-desc"> 
                                {{#each product.sizes}}
								   <a href="/cart/check-size-color/{{@root/product.slug}}?size={{@key}}" 
                                       class="size text-decoration-none size-{{@index}}
                                      {{#if user}}{{#if (isEqualTo @index 0)}}sizeselected{{/if}}{{/if}}">{{@key}}</a>
							    {{/each}}
                            </p>
                            <p id="size-alert" class="text-danger"></p>
						</div>
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark me-3">Colors:</strong>
                        {{#each (uniqueColors product.sizes)}}
                            <div class="">
                                <input type="radio" class="color-wrap" id="color-{{@index}}" name="color" 
                                  value="{{this}}" {{#if (isEqualTo @index 0)}}checked{{/if}}>
                                <label class="" for="color-{{@index}}">{{this}}</label>
                            </div>
                        {{/each}}
                    </div>
                    <div class="d-flex align-items-center me-3 pb-5" style="width: 130px;">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-accent btn-action btn-raised" id="minusBtn">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                        <input type="text" class="form-control text-center" value="1" id="quantityInput">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-accent btn-action btn-raised" id="plusBtn">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <a type="button" href="/cart/addtocart/{{product.slug}}" id="addToCartBtn"
                        class="btn mb-2 mb-md-0 btn-primary btn-cart-color btn-round">
                        <span> Add To Cart</span> 
					    <div class="icon icon-round d-flex align-items-center justify-content-center">
					   	   <i class="fa fa-shopping-cart e-1"></i>
					  </div>
					</a>
                    <a type="button" href="/cart" id="goToCartBtn"
                        class="btn mb-2 mb-md-0 btn-primary btn-cart-color btn-round">
                        <span> Go To Cart</span> 
					    <div class="icon icon-round d-flex align-items-center justify-content-center">
					   	   <i class="fa fa-shopping-cart e-1"></i>
					  </div>
					</a>
                    
                    <a type="button" class="btn mb-2 mb-md-0 btn-primary btn-buy-color btn-round">
                        <span> Buy Now</span> 
					    <div class="icon icon-round d-flex align-items-center justify-content-center">
					       <i class="fa-regular fa-money-bill-1"></i>
					    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

        <!-- Nav pills -->
        <div class="row px-xl-5">
            <div class="col moreinfo px-0">
                <div class="bg-light p-0 ">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link active" data-bs-toggle="tab" href="#tab-pane-1">Description</a>
                        <a class="nav-item nav-link" data-bs-toggle="tab" href="#tab-pane-2">Information</a>
                        <a class="nav-item nav-link" data-bs-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
                    </div>
                    <div class="tab-content py-3 px-5">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>

                            <dl class="row">
                                 {{#each product.moreProductInfo}}
                                      <dt class="col-sm-3">{{@key}}</dt>
                                      <dd class="col-sm-9">{{this}}</dd>
                                 {{/each}}
                               
                            </dl>
                        </div>
                           
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">1 review for "Product Name"</h4>
                                    <div class="review">
										<div class="user-img" style="background-image: url(/uploads/{{product.image}})"></div>
										<div class="desc">
											<h5>
												<span class="text-left">Jacob Webb</span>
												<span class="text-right">14 March 2018</span>
											</h5>
											<p class="star">
												<span>
													<small class="fas fa-star"></small>
                                                    <small class="fas fa-star"></small>
                                                    <small class="fas fa-star"></small>
                                                    <small class="fas fa-star-half-alt"></small>
                                                    <small class="far fa-star"></small>
									   			</span>
									   			<span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
											</p>
											<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
										</div>
									</div>
                                </div>
								<div class="col-md-3 col-md-push-1">
									<div class="rating-wrap">
										<h3>Give a Review</h3>
										<p class="star">
											<span>
												<small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star-half-alt"></small>
                                                <small class="far fa-star"></small>
												(98%)
											</span>
											<span>20 Reviews</span>
										</p>
										<p class="star">
											<span>
												<small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star-half-alt"></small>
                                                <small class="far fa-star"></small>
												(85%)
											</span>
											<span>10 Reviews</span>
										</p>
										<p class="star">
											<span>
												<small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star-half-alt"></small>
                                                <small class="far fa-star"></small>
												(98%)
											</span>
											<span>5 Reviews</span>
										</p>
										<p class="star">
											<span>
												<small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star-half-alt"></small>
                                                <small class="far fa-star"></small>
												(98%)
											</span>
											<span>0 Reviews</span>
										</p>
										<p class="star">
											<span>
												<small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star-half-alt"></small>
                                                <small class="far fa-star"></small>
												(98%)
											</span>
											<span>0 Reviews</span>
										</p>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      
<!-- Nav pills Ends here-->
<!-- Shop Detail End -->

