 <!-- Shop Detail Start -->
    <div class="container-fluid py-3">
        <div class="row">
            <!-- Multiple images -->
            <div class="col-lg-custom-2 col-2 mt-2 flex-column">
                <div class="carousel-container">
                    <div class="carousel" id="carouselVertical">
                        {{#each product.images}}
                            <div class="carousel-item carousel-cell">
                                <img src="/uploads/{{this}}" alt="Image {{inc @index}}">
                            </div>
                        {{/each}}
                    </div>
                    <div class="carousel-controls">
                        <button class="control-btn prev-btn">
                            <i class="fa-solid fa-chevron-up"></i>
                        </button><!--&uarr;-->
                        <button class="control-btn next-btn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button><!--&darr;-->
                    </div>
                </div>
            </div>
            <!--end multiple images-->
            <div class="col-lg-custom-4">
                <div id="imgCarousel" class="carousel slide" ><!--data-bs-ride="carousel"-->
                    <div class="carousel-inner">
                        {{#each product.images}}
                            <div class="carousel-item  {{#if (isEqualTo @index 0)}}active{{/if}}">
                                <img src="/uploads/{{this}}" class="d-block w-100 img-1" alt="Image {{inc @index}}">
                                <div class="img-2"></div>
                            </div>
                        {{/each}}
                    </div>
                </div> 
            </div>
            <div class="col-lg-custom-6 h-auto bg-light mt-2">
                <div class="h-100 p-3">
                    <h5 class='pro-brand'>{{product.brand.brand}}</h5>
                    <p class="pro-title">{{product.title}}</p>
                    <span class="bg-primary d-inline-block px-3 text-white">
                        {{product.rating}} <i class="fas fa-star fs-6 text-white"></i>
                    </span>
                   
                    <h4 class="font-weight-semi-bold mb-4 mt-3 price">₹{{product.price}}
                    <span class="ms-3 text-success fs-5">{{product.discount}}% Off</span></p></h4>
                    <p class="text-dark offerprice"><small>MRP
                      <span class="text-decoration-line-through">
                         <small class="fw-bold">₹{{product.mrp}}</small> 
                        </span>Inclusive of all taxes</small></p>
                    <hr class="bg-primary">
                    <div class="d-flex mb-3">
                        <strong class="text-dark me-3">Sizes:</strong>
                        <!--<form>
                            {{#each product.sizes}}
                            <div class="d-flex">
                                <input type="radio" class="" id="size-{{@index}}" name="size">
                                <label class="" for="size-{{@index}}">{{this.size}}</label>
                            </div>
                            {{/each}}
                        </form>-->
                        <div class="size-wrap">
							<p class="size-desc"> 
                                {{#each product.sizes}}
								   <a href="/cart/check-size-color/{{@root/product.slug}}?size={{@key}}" 
                                       class="size text-decoration-none size-{{@index}}
                                      {{#if user}}{{#if (isEqualTo @index 0)}}sizeselected{{/if}}{{/if}}">{{@key}}</a>
							    {{/each}}
                            </p>
                            <p id="size-alert" class="text-danger"></p>
						</div>
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark me-3">Colors:</strong>
                        {{#each (uniqueColors product.sizes)}}
                            <div class="">
                                <input type="radio" class="color-wrap" id="color-{{@index}}" name="color" 
                                  value="{{this}}" {{#if (isEqualTo @index 0)}}checked{{/if}}>
                                <label class="" for="color-{{@index}}">{{this}}</label>
                            </div>
                        {{/each}}
                    </div>
                    <div class="d-flex align-items-center me-3 pb-5" style="width: 130px;">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-accent btn-action btn-raised" id="minusBtn">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                        <input type="text" class="form-control text-center" value="1" id="quantityInput">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-accent btn-action btn-raised" id="plusBtn">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <a type="button" href="/cart/addtocart/{{product.slug}}" id="addToCartBtn"
                        class="btn mb-2 mb-md-0 btn-primary btn-cart-color btn-round">
                        <span> Add To Cart</span> 
					    <div class="icon icon-round d-flex align-items-center justify-content-center">
					   	   <i class="fa fa-shopping-cart e-1"></i>
					  </div>
					</a>
                    <a type="button" href="/cart" id="goToCartBtn"
                        class="btn mb-2 mb-md-0 btn-primary btn-cart-color btn-round">
                        <span> Go To Cart</span> 
					    <div class="icon icon-round d-flex align-items-center justify-content-center">
					   	   <i class="fa fa-shopping-cart e-1"></i>
					  </div>
					</a>
                    
                    <a type="button" class="btn mb-2 mb-md-0 btn-primary btn-buy-color btn-round">
                        <span> Buy Now</span> 
					    <div class="icon icon-round d-flex align-items-center justify-content-center">
					       <i class="fa-regular fa-money-bill-1"></i>
					    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12" id="moreinfo">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-description-tab" data-bs-toggle="tab" 
                           href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">
                           Description</a>
                        <a class="nav-item nav-link" id="nav-information-tab" data-bs-toggle="tab" 
                           href="#nav-information" role="tab" aria-controls="nav-information" 
                          aria-selected="false">More Information</a>
                        <a class="nav-item nav-link" id="nav-reviews-tab" data-bs-toggle="tab" 
                           href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">
                           Reviews({{totalReviews}})</a>
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-description" role="tabpanel" 
                        aria-labelledby="nav-description-tab">
                        <h4 class="mb-3">Product Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="tab-pane fade" id="nav-information" role="tabpanel" 
                        aria-labelledby="nav-information-tab">
                        <h4 class="mb-3">Additional Information</h4>
                        <dl class="row">
                            {{#each product.moreProductInfo}}
                                 <dt class="col-sm-3">{{@key}}</dt>
                                 <dd class="col-sm-9">{{this}}</dd>
                            {{/each}}
                        </dl>
                    </div>
                    <div class="tab-pane fade" id="nav-reviews" role="tabpanel" 
                        aria-labelledby="nav-reviews-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <div class="border border-2 border-primary p-3 rounded-3">
                                        <div><span class="rating-num fw-bolder fs-1 text-primary">{{product.rating}}</span>
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div><i class="fa-solid fa-user"></i>{{totalReviews}} total</div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-primary" 
                                        data-bs-toggle="modal"data-bs-target="#leaveReview">Leave Your Review
                                    </button> 
                                    </div>
                                      
                                </div>
                                <div class="clearfix">
 
                                    <div class="col-md-6 float-md-end mb-3 ms-md-3">
                                        <div class="mx-auto w-75">
                                            <h5>Rating</h5>
                                            <div class="ratings-progress">
                                                {{#each ratingData}}
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <span>{{this.rating}}<i class="fa-solid fa-star pe-2"></i></span>
                                                    <div class="progress flex-grow-1" role="progressbar" aria-label="Rating {{this.rating}}"
                                                        aria-valuemin="0" aria-valuemax="100" style="height: 13px;">
                                                        <div class="progress-bar bg-{{this.color}}" style="width:{{this.percentage}};height: 13px;"></div>
                                                    </div>
                                                    <span class="ps-3 d-inline-block"> ({{this.count}})</span>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>

                                    {{#each reviews}}
                                    <div class="review col-md-6 mb-3 ms-md-3">
                                        <div class="mb-1 d-flex justify-content-between">
                                            <h6>{{this.postedBy.firstname}} {{this.postedBy.lastname}}</h6>
                                            <div class="lh-sm" style="font-size:.8rem;">
                                               <span class="fw-semibold">{{reviewFormat this.updatedAt}}</span><br>
                                               {{momentsAgo this.updatedAt}}
                                            </div>
                                        </div>
                                        <p class="star my-2">
                                            <span>
                                              {{#with this.rating as |outerRating|}}
                                                {{#loop 5}}
                                                    {{#if (isLessThan this outerRating)}}
                                                        <small class="fas fa-star text-warning"></small>
                                                    {{else}}
                                                    
                                                        <small class="far fa-star text-warning"></small>
                                                    {{/if}}
                                                {{/loop}}
                                             {{/with}}
                                            </span>
                                        </p>
                                        <small class="text-right fw-bold">{{this.title}}</small>
                                        <p>{{this.comment}}</p>
                                        <hr>
                                    </div> 
                                    {{/each}}     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
<!-- Nav pills Ends here-->
<!-- Shop Detail End -->




<!-- Modal -->
<div class="modal fade" id="leaveReview" tabindex="-1" aria-labelledby="leaveReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="leaveReviewModalLabel">Leave a Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="/reviews/add-review">
                <div class="modal-body">
                    <div class="d-flex my-3">
                        <p class="mb-0 mr-2">Your Rating * :</p>                
                        <div class="container-wrapper">  
                            <div class="row justify-content-center">    
                                <!-- star rating -->
                                <div class="rating-wrapper">
                                    <input type="radio" id="5-star-rating" name="rating" value="5"
                                    {{#if (isEqualTo userReview.rating 5)}}checked{{/if}}>
                                    <label for="5-star-rating" class="star-rating">
                                      <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                    
                                    <input type="radio" id="4-star-rating" name="rating" value="4"
                                    {{#if (isEqualTo userReview.rating 4)}}checked{{/if}}>
                                    <label for="4-star-rating" class="star-rating star">
                                      <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                    
                                    <input type="radio" id="3-star-rating" name="rating" value="3"
                                    {{#if (isEqualTo userReview.rating 3)}}checked{{/if}}>
                                    <label for="3-star-rating" class="star-rating star">
                                      <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                    
                                    <input type="radio" id="2-star-rating" name="rating" value="2"
                                    {{#if (isEqualTo userReview.rating 2)}}checked{{/if}}>
                                    <label for="2-star-rating" class="star-rating star">
                                      <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                    
                                    <input type="radio" id="1-star-rating" name="rating" value="1"
                                    {{#if (isEqualTo userReview.rating 1)}}checked{{/if}}>
                                    <label for="1-star-rating" class="star-rating star">
                                      <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="product_slug" value="{{product.slug}}">
                    <div class="form-group">
                        <label for="comment">Your Review *</label>
                        <textarea id="comment" name="comment" cols="30" rows="5" 
                           class="form-control">{{userReview.comment}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="title">Title(optional) *</label>
                        <input type="text" class="form-control" id="title" name="title" 
                           value="{{userReview.title}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>