<div id="page">
    <!-- Shop Start -->
   
    <div class="container-fluid">
            <div class="row p-3">
        
                <div class="col-12 d-flex justiy-content-between align-items-center">
                    <div class="text-center">
                       <h3 class="pe-4">{{search}}</h3>
                       <p class="fw-bold">({{products.length}}) items</p>
                    </div>
                    <hr class="mx-2" style="height: 2px; width:700px; background-color: #020202;">
                    <h3 class="ms-auto ps-4">{{gender}}</h3>
                </div>

                

                <!-- Shop Product Start -->
                <div class="col-lg-12 pt-4">
                  <div class="row">
                        
                      <!--   {{#if products.length}}
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                        <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                                        <span class="d-inline-block fw-bold ps-3">({{products.length}}) items
                                               
                                            
                                        </span>
                                    </div>
                                    <div class="ml-2">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                               data-bs-toggle="dropdown">Sorting</button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <div class="dropdown-item">
                                                    <input type="radio" name="sorting" value="latest" 
                                                        id="sort-1" class="custom-radio-input" checked
                                                        {{#if (isEqualTo selectedOptions.sorting 'latest')}}
                                                            checked
                                                        {{/if}}>
                                                    <label for="sort-1" class="ps-2">Latest</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="radio" name="sorting" value="best_rating" 
                                                       id="sort-2" class="custom-radio-input" 
                                                       {{#if (isEqualTo selectedOptions.sorting 'best_rating')}}
                                                            checked
                                                        {{/if}}>
                                                    <label for="sort-2" class="ps-2">Best Rating</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="radio" name="sorting" value="price_low_to_high" 
                                                       id="sort-3" class="custom-radio-input"
                                                       {{#if (isEqualTo selectedOptions.sorting 'price_low_to_high')}}
                                                            checked
                                                        {{/if}}>
                                                    <label for="sort-3" class="ps-2">Price Low To High</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="radio" name="sorting" value="price_high_to_low" 
                                                       id="sort-4" class="custom-radio-input"
                                                       {{#if (isEqualTo selectedOptions.sorting 'price_high_to_low')}}
                                                            checked
                                                        {{/if}}>
                                                    <label for="sort-4" class="ps-2">Price High To Low</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="radio" name="sorting" value="discount_high_to_low" 
                                                       id="sort-5" class="custom-radio-input"
                                                       {{#if (isEqualTo selectedOptions.sorting 'discount_high_to_low')}}
                                                            checked
                                                        {{/if}}>
                                                    <label for="sort-5" class="ps-2">Discount High to Low</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group ml-2">
                                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">Showing</button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item showing" data-value="4">4</a>
                                                <a class="dropdown-item showing" data-value="10">10</a>
                                                <a class="dropdown-item showing" data-value="20">20</a>
                                                <a class="dropdown-item showing" data-value="30">30</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            
                       
                            {{#each products}} 
                                <div class=" col-xl-3 col-lg-4 col-sm-6">
                                    {{> productcard}}
                                </div>
                            {{/each}}
                        {{else}}
                            <div class="d-flex justify-content-center align-items-center" id="emptyProducts">
                                <div class="d-flex justify-content-center flex-column">
                                    <h3>No Products Found</h3>
                                    <a href="/home" class="btn btn-dark px-5 mt-3">Return Home</a>
                                </div>  
                            </div>
                        {{/if}}

                        <!--
                    
                        <div class="col-12">
                            <nav aria-label="Page navigation example">
                                <div class="pagination job-pagination mb-0 justify-content-center">
                                    <li class="page-item {{#if (isEqualTo @root/pagination 1)}}disabled{{/if}}">
                                        <a class="page-link" tabindex="-1" 
                                        href="/filters?pagination={{dec pagination}}&pageSize={{@root/pageSize}}"
                                        data-pagination="{{dec pagination}}" data-size="{{@root/pageSize}}">
                                        <i class="fa-solid fa-arrow-left"></i></a>
                                    </li>
                                    {{#each paginationLinks}}
                                        <li class="page-item"><a class="page-link{{#if (isEqualTo @root/pagination this)}} active{{/if}}" 
                                          href="/filters?pagination={{this}}&pageSize={{@root/pageSize}}"data-pagination="{{this}}" data-size="{{@root/pageSize}}">{{this}}</a>
                                        </li>
                                    {{/each}}
                                    <li class="page-item">
                                        <a class="page-link {{#if (isEqualTo pagination endPage)}}disabled{{/if}}"
                                           href="/filters?pagination={{inc pagination}}&pageSize={{@root/pageSize}}" 
                                           data-pagination="{{inc pagination}}" data-size="{{@root/pageSize}}">
                                           <i class="fa-solid fa-arrow-right"></i></a>
                                    </li>
                                </div>
                            </nav>
                        </div> -->
                    </div>
                </div>
                <!-- Shop Product End -->
            </div>
    </div>
    <!-- Shop End -->
</div>
<!--Category Name Block Ends here-->