<section class="px-5 py-3">
    <div class="container">
        <div class="row ">
               {{> profileSideBar}}
            <div class="col-md-9">
                <div class="shadows rounded bg-white p-4 ms-2">
                    <h4 class="font-italic mb-4">Wishlist</h4>
                    <div class="container bootdey">
  
                
                        <div class="row product-list">
                            {{#each wishlist.products}}
                            <div class="col-md-4">
                                <section class="panel">
                                    <div class="pro-img-box">
                                        <a href="/wishList/delete-item/{{this.slug}}" class="removeBtn"><i class="fa-solid fa-circle-xmark"></i></a>
                                        <img src="uploads/{{this.images.img-1}}" alt="" class="wish-img"/>
                                        <a href="/wishlist/moveToCart/{{this.slug}}" class="adtocart">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                
                                    <div class="panel-body text-center">
                                        <div class="mt-4">{{this.brand.brand}}</div>
                                        <div>
                                            <a href="#" class="pro-title">
                                                {{this.title}}
                                            </a>
                                        </div>
                                        <p class="price">{{this.price}}</p>
                                    </div>
                                </section>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>